<div class="main container text-center">
    <div class="row">
        <div class="col" *ngFor="let currentPost of allPosts">
        <app-blogcard [CurrentPost]="currentPost"></app-blogcard>
        <!-- <app-blogcard [CurrentPost]="allPosts[0]"></app-blogcard>
      </div>
      <div class="col">
        <app-blogcard [CurrentPost]="allPosts[1]"></app-blogcard>
      </div>
      <div class="col">
        <app-blogcard [CurrentPost]="allPosts[2]"></app-blogcard>
      </div> -->
    </div>
  </div>
