


<div class="main container">
    <div style="max-width: 400px; margin: auto;">
        
        <h1>Create an Account</h1>

        <mat-card>
            <mat-card-content>
                <form [formGroup]="newUserFormGroup" class="example-form">
                    <mat-form-field>
                      <mat-label>First Name</mat-label>
                      <input name="firstName" type="text" matInput formControlName="formFirstName" placeholder="Smitty">
                      <mat-error *ngIf="newUserFormGroup.get('formFirstName')!.hasError('required')">
                        First Name is <strong>required</strong>
                      </mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Last Name</mat-label>
                        <input name="lastName" type="text" matInput formControlName="formLastName" placeholder="Werbenjagermanjensen">
                        <mat-error *ngIf="newUserFormGroup.get('formLastName')!.hasError('required')">
                          Last Name is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Email</mat-label>
                        <input name="email" type="email" matInput formControlName="formEmail" placeholder="w.smitty@sbsp.com">
                        <mat-error *ngIf="newUserFormGroup.get('formEmail')!.hasError('email') && !newUserFormGroup.get('formEmail')!.hasError('required')">
                          Please enter a valid email address
                        </mat-error>
                        <mat-error *ngIf="newUserFormGroup.get('formEmail')!.hasError('required')">
                          Email is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Username</mat-label>
                        <input name="userId" type="text" matInput formControlName="formUserId" placeholder="number_one" (focus)="focusState = true" (focusout)="focusState = false">
                        <mat-hint *ngIf="focusState">Username can't be changed!</mat-hint>
                        <mat-error *ngIf="newUserFormGroup.get('formUserId')!.hasError('required')">
                          Username is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                    
                    <mat-form-field>
                        <mat-label>Password</mat-label>
                        <input name="password" type="password" matInput formControlName="formPassword" placeholder="And don't you forget it!">
                        <mat-error *ngIf="newUserFormGroup.get('formPassword')!.hasError('required')">
                          Password is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>

                    <mat-error class="customError" *ngIf="serverErrMsg">{{serverErrMsg}}</mat-error>
                    
                    <div class="buttons">
                        <button (click)="CreateUser()" type="submit" value="Submit" mat-flat-button color="primary">Create Account</button> 
                        <button (click)="ClearForm()" mat-stroked-button color="primary" type="reset">Reset</button>
                    </div>
                    
                </form>
            </mat-card-content>
        </mat-card>

        <!-- <fieldset>
            <legend>Personal Information</legend>
            <div class="form-group">
                <label for="firstName" class="col-form-label-lg">
                    First Name
                </label>
                <input 
                    type="text" 
                    class="form-control" 
                    id="firstName" 
                    name="firstName"
                    placeholder="Smitty" 
                    [(ngModel)]="newUser.firstName"
                    required
                />
            </div>

            <div class="form-group">
                <label for="lastName" class="col-form-label-lg">
                    Last Name
                </label>
                <input 
                    type="text" 
                    class="form-control" 
                    id="lastName" 
                    name="lastName"
                    placeholder="Werbenjagermanjensen" 
                    [(ngModel)]="newUser.lastName"
                    required
                />
            </div>

            <div class="form-group">
                <label for="emailAddress" class="col-form-label-lg">
                    Email Address
                </label>
                <input 
                    type="email" 
                    class="form-control" 
                    id="emailAddress" 
                    name="email" 
                    placeholder="w.smitty@spongebob.com" 
                    [(ngModel)]="newUser.emailAddress" 
                    required
                />
            </div>
        </fieldset>
        <br>
        <fieldset>
            <legend>Login Credentials</legend>
            <div class="form-group">
                <label for="userId" class="col-form-label-lg">
                    Username
                </label>
                <input 
                    type="text" 
                    class="form-control" 
                    id="userId" 
                    name="userId" 
                    placeholder="number_one" 
                    [(ngModel)]="newUser.userId" 
                    required
                />
            </div>

            <div class="form-group">
                <label for="password" class="col-form-label-lg">
                    Password
                </label>
                <input 
                    type="password" 
                    class="form-control" 
                    id="password" 
                    name="password" 
                    placeholder="••••••••" 
                    [(ngModel)]="newUser.password" 
                    required
                />
            </div>
        </fieldset>

        <div class="text-center">
            <button class="btn btn-primary" type="submit" value="Submit" style="margin-top: 30px; margin-bottom: 80px;">
                Create Account
            </button>
        </div> -->
        
    </div>
</div>
