<nav class="navbar sticky-top navbar-expand-lg bg-light">
    <div class="container">
      <a class="navbar-brand" href="">Blog</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" [routerLink]="['/']">
            Home
          </a>
          
          <a class="nav-link" [routerLink]="['/new-post']" *ngIf="currentUser">
            Create Post
          </a>
          
          <!-- <a class="nav-link" [routerLink]="['/account']" *ngIf="currentUser">
            My Account
          </a> -->

          <a class="nav-link" (click)="logout()" *ngIf="currentUser">
            Log Out
          </a>
          
          <a class="nav-link" [routerLink]="['/new-user']" *ngIf="!currentUser">
            Create Account
          </a>
          
          <a class="nav-link" [routerLink]="['/login']" *ngIf="!currentUser">
            Log In
          </a>
        </div>
      </div>
    </div>
  </nav>