<div class="main container" style="max-width: 800px; margin: auto;">
    <h1>Edit Post {{urlId}}</h1>

    <mat-card>
        <mat-card-content>
            
            <form *ngIf="userMatch" [formGroup]="editedPostFormGroup">
                <mat-form-field>
                    <mat-label>Title</mat-label>
                    <input name="title" type="text" matInput formControlName="formTitle" [(ngModel)]="editedPost!.title">
                    <mat-error *ngIf="editedPostFormGroup.get('formTitle')!.hasError('required')">
                        Title is <strong>required</strong>
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Header Image URL</mat-label>
                    <input name="headerImg" type="url" matInput formControlName="formImg" [(ngModel)]="editedPost!.headerImage">
                    <mat-error *ngIf="editedPostFormGroup.get('formImg')!.hasError('required')">
                        Must be a <strong>URL</strong>
                    </mat-error>
                </mat-form-field>

                
                <mat-form-field>
                    <mat-label>Content</mat-label>
                    <textarea matInput name="content" rows="8" formControlName="formContent" [(ngModel)]="editedPost!.content"></textarea>
                    <mat-error *ngIf="editedPostFormGroup.get('formContent')!.hasError('required')">
                        Post content is <strong>required</strong>
                    </mat-error>
                </mat-form-field>

                <div class="buttons">
                    <button (click)="EditPost()" type="submit" value="Submit" mat-flat-button color="primary">Update Post</button> 
                    <button (click)="ClearForm()" mat-stroked-button color="primary" type="reset">Clear</button>
                </div>
            </form>
            <mat-error *ngIf="!userMatch" class="customError">
                You aren't authorized to edit this post.
            </mat-error>
        </mat-card-content>
    </mat-card>
    <div>
        <button mat-stroked-button (click)="GoBack()">Back</button>
    </div>
</div>
