<div class="container">
    <div style="max-width: 400px; margin: auto;">
        <h1>Edit Account Details</h1>

        <div class="form-group">
            <label for="firstName" class="col-form-label-lg">First Name</label>
            <input type="text" class="form-control" id="firstName" placeholder="Smith">
        </div>

        <div class="form-group">
            <label for="lastName" class="col-form-label-lg">Last Name</label>
            <input type="text" class="form-control" id="lastName" placeholder="Wigglesworth">
        </div>

        <div class="form-group">
            <label for="emailAddress" class="col-form-label-lg">Email Address</label>
            <input type="email" class="form-control" id="emailAddress" placeholder="w.smith@example.com">
        </div>

        <div class="form-group">
            <label for="password" class="col-form-label-lg">Password</label>
            <input type="password" class="form-control" id="password" placeholder="••••••••">
        </div>

    </div>
</div>
