<div class="main container">
    <div style="max-width: 400px; margin: auto;">
        <h1>Log In</h1>

        <mat-card>
            <mat-card-content>
                <form [formGroup]="loginFormGroup">
                    <mat-form-field>
                        <mat-label>Username</mat-label>
                        <input name="username" type="text" matInput formControlName="formUserId" placeholder="number_one">
                        <mat-error *ngIf="loginFormGroup.get('formUserId')!.hasError('required')">
                            Username is required
                          </mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Password</mat-label>
                        <input name="password" type="password" matInput formControlName="formPassword" placeholder="••••••">
                        <mat-error *ngIf="loginFormGroup.get('formPassword')!.hasError('required')">
                          Password is required
                        </mat-error>
                    </mat-form-field>
                    
                    <mat-error class="customError" *ngIf="serverErrMsg">{{serverErrMsg}}</mat-error>

                    <div class="buttons">
                        <button (click)="Login()" type="submit" value="Submit" mat-flat-button color="primary">Log In</button> 
                        <button (click)="ClearForm()" mat-stroked-button color="primary" type="reset">Reset</button>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>

        <!-- <div class="form-group">
            <label for="userId" class="col-form-label-lg">
                Username
            </label>
            <input 
                type="text" 
                class="form-control" 
                id="userId" 
                name="userId" 
                [(ngModel)]="userId"
            />
        </div>

        <div class="form-group">
            <label for="password" class="col-form-label-lg">
                Password
            </label>
            <input 
                type="password" 
                class="form-control" 
                id="password" 
                name="password" 
                [(ngModel)]="password"
            />
        </div>

        <div class="alert alert-danger" role="alert" style="margin-top: 10px;" *ngIf="error">
            Oops! Wrong username and/or password.
        </div>

        <div class="text-center" style="margin-top: 30px; margin-bottom: 80px;">
            <button (click)="Login()" class="btn btn-primary" type="submit" value="Submit" style="margin-right: 10px;">
                Log In
            </button>
        </div> -->

    </div>
</div>
