<div class="container">
    <div style="max-width: 400px; margin: auto;">
        <h1>Log In</h1>
        <div class="form-group">
            <label for="userId" class="col-form-label-lg">
                Username
            </label>
            <input 
                type="text" 
                class="form-control" 
                id="userId" 
                name="userId" 
                
            />
        </div>

        <div class="form-group">
            <label for="password" class="col-form-label-lg">
                Password
            </label>
            <input 
                type="password" 
                class="form-control" 
                id="password" 
                name="password" 
                
                
            />
        </div>

        <div class="text-center" style="margin-top: 30px; margin-bottom: 80px;">
            <button class="btn btn-primary" type="submit" value="Submit" style="margin-right: 10px;">
                Log In
            </button>
        </div>

    </div>
</div>
